@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-from-top {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0);
    }
}

.infomainbody {
  background-color: rgb(244, 237, 228);
  background-image: url("../assets/img-all-kinds-of-companies.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  background-position: left;
  animation: fade-in 3s forwards;
}

.top-image {
  position: initial;
  width: 100%;
  height: auto;
}
.top-image .el-image {
  max-width: 100%;
  height: auto;
}

.spaninfohead {
  font-size: 3vh;
  color: rgb(12, 60, 38);
  margin: 10px;
  border-width: 0vh;
  white-space: nowrap;
  animation: 2s;
}

.spaninfo {
  font-size: 2vh;
  color: rgb(12, 60, 38);
  margin: 10px;
  border-width: 0vh;
}

.info-card {
  background-color: rgb(244, 237, 228) !important;
  width: 62vw;
  height: auto;
  margin-top: 20px;
  animation: slide-in-from-top 1s;
}

.navtag {
  font-size: 3.5vh;
  color: rgb(12, 60, 38) !important;
}

.active {
  font-size: 3.5vh;
  color: rgb(0, 110, 255) !important;
}

.card-img {
  width: 30vw;
  height: auto;
  animation: slide-in-from-left 2s;
}

.author-avatar-img {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.read-more-button {
  display: block;
  margin: 10px auto;
  width: 20%;
  height: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: rgba(252, 249, 249, 0.934);
  background-color: rgb(151, 212, 137);
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.read-more-button:hover {
  background-color: #99ddf2;
  color: white;
}
.personalinfo .el-header {
  position: relative;
  background-color: var(--el-color-primary-light-7);
  color: var(--el-text-color-primary);
}
.personalinfo .el-menu {
  border-right: none;
}
.personalinfo .el-main {
  padding: 0;
  background-color: rgb(223, 245, 223);
}
.personalinfo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}